<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CouchConsoleApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <CouchConsoleApp.Properties.Settings>
            <setting name="CouchServerName" serializeAs="String">
                <value>192.168.116.67</value>
            </setting>
            <setting name="CouchPort" serializeAs="String">
                <value>5985</value>
            </setting>
            <setting name="DBName" serializeAs="String">
                <value>testdb</value>
            </setting>
            <setting name="TestMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TempFetch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DBServerName" serializeAs="String">
                <value>CLXDBDEV</value>
            </setting>
            <setting name="DBSID" serializeAs="String">
                <value>CLXD6</value>
            </setting>
            <setting name="DBPort" serializeAs="String">
                <value>1521</value>
            </setting>
            <setting name="DBUser" serializeAs="String">
                <value>ccsowner</value>
            </setting>
            <setting name="TargetCouchServerName" serializeAs="String">
                <value>192.168.116.67</value>
            </setting>
            <setting name="TargetCouchServerPort" serializeAs="String">
                <value>5985</value>
            </setting>
            <setting name="TargetCouchDBName" serializeAs="String">
                <value>testdb</value>
            </setting>
            <setting name="MaxThreads" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="MaxAllowedMemory" serializeAs="String">
                <value>1600</value>
            </setting>
            <setting name="DB_Min_PoolSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DB_Max_PoolSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="DB_Conn_Life_min" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="DB_Conn_Timeout_min" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="DB_Conn_Use_Pool" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Override_Couch_Request_TimeOut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Couch_Request_Timeout" serializeAs="String">
                <value>180000</value>
            </setting>
        </CouchConsoleApp.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
