<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PawnRulesManagerWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PawnRulesManagerWPF.Properties.Settings>
            <setting name="PawnSecDBUser" serializeAs="String">
                <value>Ny2VIxVYqnA=</value>
            </setting>
            <setting name="PawnSecDBPassword" serializeAs="String">
                <value>jZekk5GlbvfnRVTll7RpCw==</value>
            </setting>
            <setting name="PawnSecDBSchema" serializeAs="String">
                <value>Ny2VIxVYqnA=</value>
            </setting>
            <setting name="PawnSecDBPort" serializeAs="String">
                <value>c5oa+iWxTPs=</value>
            </setting>
            <setting name="PawnSecDBHost" serializeAs="String">
                <value>5HYH35IsmBLxuFKgDA0deV4cSI9w/aeE</value>
            </setting>
            <setting name="PawnSecDBService" serializeAs="String">
                <value>tN2vG1Y6pleVpj7+YIrMdxtI3uI0kDL1</value>
            </setting>
        </PawnRulesManagerWPF.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
